.baltimora_view {
  position: relative;
  overflow: hidden;
  width: 100%;
  background: url('../img/bg.png') no-repeat center;
  color: #2b3547;
  min-height: 80px;
}
.baltimora_view .is_weather_content,
.baltimora_view .is_weather_content_short,
.baltimora_view .is_weather_day {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  -webkit-transition: 0.3s;

  -webkit-animation-duration: 0.3s;
}
.baltimora_view .is_weather_content_short {
  height: 0px;
  opacity: 0;
  display: none!important;
}
.baltimora_view .is_weather_content {
  opacity: 0;
  overflow: hidden;
}
.baltimora_view .is_weather_content_short.show {
  height: 170px;
  opacity: 1;
  display: block!important;
}
.baltimora_view .is_weather_content.show {
  height: auto;
  opacity: 1;
}
.baltimora_view .is_weather_switcher {
  background: #555c6c;
  color: #fff;
  cursor: pointer;
  line-height: 25px;
  position: relative;
  bottom: 0;
}
@media (max-width: 786px) {
  .baltimora_view .is_weather_content_short,
  .baltimora_view .is_weather_content_short.show {
    height: 0px;
    opacity: 0;
  }
  .baltimora_view .is_weather_content,
  .baltimora_view .is_weather_content.show {
    height: auto;
    opacity: 1;
  }
  .baltimora_view .is_weather_day {
    /*float: left;*/
    /*width: 40%;*/
    /*overflow: hidden;*/
  }
}
@media (min-width: 786px) {
  .baltimora_view .is_weather_content {
    display: none;
  }
  .baltimora_view .is_weather_content.show {
    display: block;
  }
  .baltimora_view .is_weather_day {
    float: left;
    width: 10%;
    cursor: pointer;
    height: 249px;
  }
  .baltimora_view .is_weather_day > div {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .baltimora_view .is_weather_day .is_weather_day_all {
    opacity: 0;
    display: none;

  }
  .baltimora_view .is_weather_day .is_weather_day_short {
    opacity: 1;
  }
  .isw_day,
  .isw_date,
  .isw-humidity,
  .isw-wind {
    font-size: 19px;
  }
  .isw_day_left {
    float: left;
    width: 60%;
  }
  .isw_city {
    font-size: 30px;
    text-transform: uppercase;
  }
  .isw_temp {
    font-size: 50px;
  }
  .isw_temp_min,
  .isw_temp_max {
    font-size: 19px;
  }
  .isw_type {
    font-size: 11px;
    height: 48px;
  }
  .isw_day_right .isw_icon img {
    margin: 5px 0;
    margin-bottom: 5px!important;
    max-width: 85px;
  }
  .isw-humidity-icon {
    display: inline-block;
    height: 14px;
    margin-right: 10px;
    background: url('../img/humnidity.png') no-repeat;
    width: 14px;
    background-size: 100% 100%;
  }
  .isw-wind-icon {
    display: inline-block;
    height: 14px;
    margin-right: 10px;
    background: url('../img/wind_icon.png') no-repeat;
    width: 14px;
    background-size: 100% 100%; 
  }

  .baltimora_view .is_weather_day:nth-child(1) { background: rgba(255,255,255, 0.35); }
  .baltimora_view .is_weather_day:nth-child(2) { background: rgba(255,255,255, 0.3); }
  .baltimora_view .is_weather_day:nth-child(3) { background: rgba(255,255,255, 0.25); }
  .baltimora_view .is_weather_day:nth-child(4) { background: rgba(255,255,255, 0.2); }
  .baltimora_view .is_weather_day:nth-child(5) { background: rgba(255,255,255, 0.15); }
  .baltimora_view .is_weather_day:nth-child(6) { background: rgba(255,255,255, 0.1); }
  .baltimora_view .is_weather_day:nth-child(7) { background: rgba(255,255,255, 0.05); }

  .baltimora_view .is_weather_day.active {
    width: 40%;
    background: none;
    cursor: default;
  }
  .baltimora_view .is_weather_day.active .is_weather_day_all {
    opacity: 1;
    display: block;
    padding-left: 25px;
    padding-right: 25px;
  }
  .baltimora_view .is_weather_day.active .is_weather_day_short {
    opacity: 0;
  }

  .is_weather_day_short .isw-day {
    font-size: 19px;
  }
  .is_weather_day_short .isw_icon {
    padding: 15px 18px 45px 18px;
    height: 115px;
  }
  .is_weather_day_short .isw_temp {
    font-size: 21px;
    line-height: 40px;
  }
  .is_weather_day_short .isw-wind {
    overflow: hidden;
    font-size: 10px;
    margin: 0 9px;
  }
  .is_weather_day_short .isw-wind .isw-wind-icon {
    display: inline-block;
    float: left;
    width: 10px;
    height: 10px;
    background: url('../img/wind_icon.png') no-repeat;
    background-size: 100% 100%; 
    margin: 0;
  }
  .is_weather_day_short .isw-wind .isw-wind-value {
    display: inline-block;
    float: right;
  }

  .is_weather_content_short {
    padding: 10px;
  }
  .is_weather_content_short .isw_day_content {
    width: 60%;
    margin: 0 20%;
  }
  .is_weather_content_short .isw_day_content .isw_temp {
    font-size: 70px;
  }
  .is_weather_content_short .isw_day_content .isw_icon {
    margin: 0 20px;
  }
  .is_weather_content_short .isw_day_content .isw_icon img {
    height: 80px;
  }
  .is_weather_content_short .isw_day_content .isw-wind {
    margin-top: 60px;
  }
}